body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

#main-container {
 position: relative;
 float: left;
 width: 300px;
 height: 600px;
 overflow: hidden;
 background-color: rgb(0,0,0);
 border: none;
 box-sizing: border-box;
 background-color: #fff;cursor: pointer;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box; border: 2px solid #c4c4c4;

}

#exit {
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 200;
  position: absolute;
  left: 0;

}

#video-container-0 {
  position: absolute;
  width: 242px;
  height: 136px;
  left: 29px;
  top: 365px;
  z-index: 500;
  border: none;
  visibility: hidden;
   border: 1px solid #ffffff;
}

#video-0 {
  position: absolute;
  width: 242px;
  height: 136px;
  top: 0;
  background: transparent;
}

.video-controls {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 14px;
  left: 14px;
  cursor: pointer;
}

/* Video button hiding an positioning */
.video-controls:hover {

}

#playBtn {
  background-image:url('images/play.png');
  background-repeat:no-repeat;
  background-size:cover;
  background-color: transparent;
  left: 14px;
  bottom:30px;
}

#progressBtn {
  position: absolute;
  background-color: #339933;
  bottom: 40px;
  height: 4px;
}

#pauseBtn0 {
  background-image:url('images/pause.png');
  background-repeat:no-repeat;
  background-size:cover;
  background-color: transparent;
  left: 14px;
  bottom:30px;
  visibility: hidden;
}

#stopBtn {
  background-image:url('images/stop.png');
  background-size:cover;
  background-repeat:no-repeat;
  left: 20px;
  display: none;
}

#unmuteBtn {
  background-image:url('images/unmute.png');
  background-size:cover;
  background-repeat:no-repeat;
  left: 34px;
  background-color: transparent;
    bottom:30px;
	display: none;
}

#muteBtn {
  background-image:url('images/mute.png');
  background-size:cover;
  background-repeat:no-repeat;
  left: 34px;
  visibility: hidden;
  background-color: transparent;
    bottom:30px;
	display: none;
}

#replayBtn {
  background-image:url('images/replay.png');
  background-size:cover;
  background-repeat:no-repeat;
  background-color: transparent;
  left: 30px;
    bottom:30px;
}

.video-container {
  width: 242px;
  height: 136px;
  position:absolute;
  left: 29px;
  top: 365px;
  z-index:100;
   border: 1px solid #ffffff;
}


:focus {
  outline:none;
}
::-moz-focus-inner {
  border:0;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  opacity: 1;
}

#white_line {
  position: absolute;
  width: 300px;
  height: 600px;
  top: 0;
  left: 300px;
}

.white_line01 {
  position: absolute;
  height: 200%;
  width: 20px;
  background-color: #fff;
  opacity: 0.5;
  top: -100px;
  left: 0;
}

.white_line02 {
  position: absolute;
  height: 200%;
  width: 20px;
  background-color: #fff;
  opacity: 0.5;
  top: -100px;
  left: 200px;
}

.white_line03 {
  position: absolute;
  height: 200%;
  width: 20px;
  background-color: #fff;
  opacity: 0.5;
  top: -100px;
  left: 400px;
}

#red-player {
  position: absolute;
  top: 207px;
  left: 0px;
}

#blue-player {
  position: absolute;
  top: 0;
  left: 0;
}

#yellow-player {
  position: absolute;
  top: 207px;
  left: 150px;
}

#redbox_final {
  position: absolute;
  top: 40px;
  left: -300px;
}

#green_boot {
  position: absolute;
  left: 183px;
  top: 171px;
  display: none;
  opacity: 0;
}

#blue_boot {
  position: absolute;
  left: 99px;
  top: 171px;
  display: none;
  opacity: 0;
}

#red_boot {
  position: absolute;
  left: 8px;
  top: 171px;
  display: none;
  opacity: 0;
}

#logo {
  position: absolute;
  top: 67px;
  left: 350px;
}

#cta {
  position: absolute;
  bottom: 25px;
  left: 300px;
  display: block;
  opacity: 1;
}
